%h1  やる気のない更新履歴

%table.table.table-striped.table-hover{:width => "50%"}
  %tr
    %td 成分の言葉を追加
    %td 恐らくこれが最後の変更
  %tr
    %td UIを少し変更
    %td 気づく人は恐らくいない
  %tr
    %td 一定時間ごとに分析結果が変わってしまうバグを修正
    %td これで常に答えは一定
  %tr
    %td 0%バグを修正
    %td やったね
  %tr
    %td アヴェリンの攻撃力の下方修正。
    %td これで対人バランスが良くなります
